h1
{
   font-size: 100px;
   color: rgb(13, 8, 85);
   float: left;
   font-weight: bold;
   margin-top: -10px;
   border-radius: 30%;
   background-color: aquamarine;

}
body
{
    background-image: url(./Screenshot\ From\ 2025-04-25\ 16-48-59.png);
}
#header
{
    height: 100px;
    width: 1500px;
    color: rgb(13, 8, 85);
    -ms-layout-grid: 100px;
    font-weight: bold;
}

li
{
    display: inline;
    margin:  15px;
    float: left;
    
}
a
{
    color: rgb(22, 16, 105);
    font-size: 40px;
    
}